<%= type.name %>

<% if type <= Typelib::CompoundType %>
{<% type.fields.each do |name, type| %><div style="margin: 1em">
    <%= name %>: <%= object_to_html(type, "type") %>
    </div><% end %>}
<% elsif type <= Typelib::ArrayType %>
[<%= type.length %>] <%= object_to_html(type.deference, "type") %>
<% elsif type <= Typelib::ContainerType %>
[] <%= object_to_html(type.deference, "type") %>
<% end %>