<b> <%= dataset.metadata_fetch("description") %> (<%= dataset.digest %>) </b>
<ul>
<% dataset.metadata.each do |key, values| %>
<li><%= key %>: <%= values.map(&:to_s).join(", ") %></li>
<% end %>
</ul>

<% tasks = dataset.each_task.sort_by(&:task_name)
                  .delete_if { |t| t.orogen_model_name == "logger::Logger" }
%>
<table>
<thead>
    <tr>
        <td>Name</td>
        <td>Model</td>
        <td>Ports</td>
    </tr>
</thead>

<% tasks.each do |task_streams| %>
    <% ports = task_streams.each_port_stream.map { |name, _| "#{name}_port " } %>
<tr>
    <td><%= task_streams.task_name %>_task</td>
    <td><%= task_streams.orogen_model_name %></td>
    <td><%= ports.join(", ") %></td>
</tr>
<% end %>
</table>
